$t-duration: 800ms;

.default-enter-active,
.default-leave-active {
  transition-property: opacity, transform;
  transition-duration: $t-duration;
  transition-timing-function: ease-in-out;
}

.default-enter-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $white;
  transform: translate3d(0, 100vh, 0);
}

.default-leave-to {
  opacity: 0.2;
  transform: translate3d(0, -80vh, 0);
}

.default-enter-to {
  transform: translate3d(0, 0, 0);
}

// Back to intro animation

$t-duration: 800ms;
$t-delay: 300ms;

.intro-enter-active,
.intro-leave-active {
  transition-duration: $t-duration * 2;

  &::before,
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 50%;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
  }

  &::before {
    background-color: $black-mine;
  }

  &::after {
    top: 50%;
    background-color: $black-mine;
  }
}

.intro-leave {
  &::before,
  &::after {
    transform: scaleX(0);
  }
}

.intro-leave-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.intro-leave-to {
  &::before,
  &::after {
    transform: scale(1);
    transform-origin: left;
  }
}

.intro-enter {
  &::before,
  &::after {
    transform: scaleX(1);
  }
}

.intro-enter-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.intro-enter-to {
  &::before,
  &::after {
    transform: scaleX(0);
    transform-origin: right;
  }
}
